[screws_tilt_adjust]Add commentMore actions
screw1: 75,35
screw1_name: front left screw
screw2: 246,35
screw2_name: front right screw
screw3: 246,205
screw3_name: rear right screw
screw4: 75,205
screw4_name: rear left screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4 # Use CW for Clowise and CCW for Counter Clockwise

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Heat bed for probing
    M190 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Home the printer
    G28

    # If you are using QGL:
    #QUAD_GANTRY_LEVEL
    #G28 Z

    # If you are using Z-Tilt:
    #Z_TILT_ADJUST

    # If you are generating a new bed mesh:
    BED_MESH_CALIBRATE ADAPTIVE=1
    ## NOTE:    The adaptive meshing feature requires exclude_object     ##
    ##      and may require 'Label Objects' to be enabled in the slicer  ##
    ##           To mesh without it just use BED_MESH_CALIBRATE          ##

    # If you are loading an existing mesh:
    #BED_MESH_PROFILE LOAD=default

    # Move the nozzle near the bed
    G1 Z5 F3000
    # Set and wait for nozzle to reach printing temperature
    M109 S{EXTRUDER_TEMP}
    G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    G92 E0 ; Reset Extruder
    G1 X0.4 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.6 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.6 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    # Start printing!

# Enable exclude_object for adaptive meshing
[exclude_object]

[gcode_macro END_PRINT]
gcode:
    # Move nozzle away from print while retracting
    G91 ;Relative positioning
    G1 E-2 F2700 ;Retract a bit
    G1 E-2 Z0.2 F2400 ;Retract and raise Z
    # Raise nozzle by 10mm
    G1 X5 Y5 F3000 ;Wipe out
    G1 Z10 ;Raise Z more
    G90 ;Absolute positioning
    
    # Turn off bed, extruder, and fan
    G1 X0 Y220 ;Present print
    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed
    
    # Disable steppers
    M84 X Y E ;Disable all steppers but Z